div.wrapper div {
    padding: 50px 80px 0;
    color: #fff;
    font-size: 2em;
}

div.wrapper div div.buttons {
    padding: 10px;
    font-size: 0.6em;
    text-align: right;
    color: #718093;
}

div.wrapper div div.buttons button {
    width: 25px;
    height: 25px;
    background-color: #273c75;
    color: #40739e;
    border: 1px solid #192a56;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
}

div.wrapper div p span {
    color: #718093;
}

div.wrapper div.table {
    margin-top: 50px;
    font-size: 0.5em;
    min-height: 486px;
    background-color: #0097e6;
    border-radius: 20px;
    padding: 10px 20px;
    border: 4px solid #40739e;
}

div.wrapper div.table table {
    width: 100%;
    border-collapse: collapse;
}

div.wrapper div.table table thead {
    color: #353b48;
    text-align: left;
}

div.wrapper div.table table thead tr {
    border-bottom: 2px solid #353b48;
}

div.wrapper div.table table tbody {
    color: #2f3640;
}

div.wrapper div.table table tbody tr {
    border-bottom: 1px solid #353b48;
}

div.wrapper div.table table tbody tr:last-child {
    border-bottom: 0;
}

tr td:first-child {
    padding-left: 5px;
}

tr td:last-child {
    padding-right: 5px;
}

tr th:first-child {
    padding-left: 5px;
}

tr th:last-child {
    padding-right: 5px;
}

td {
    padding: 5px 0;
}

tr.person {
    cursor: pointer;
}

tr.person:hover {
    background-color: #2fa8e9;
}

/* person info page */
#wrapper-person-page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 40;
    display: none;
}

#wrapper-person-page #container {
    margin: 3% 30%;
    background-color: #0097e6;
    width: auto;
    height: fit-content;
    max-height: 90%;
    border-radius: 25px;
    overflow: hidden;
}

#wrapper-person-page #container input {
    outline: none;
}

#wrapper-person-page #container input.editable {
    border: 1px solid #fff;
}

#wrapper-person-page #container #person-name-div {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 1px 10px 1px;
    height: 7%;
    margin-bottom: 3%;
}

#wrapper-person-page #container #person-name-div #person-name {
    font-size: 2em;
    height: 100%;
    width: 100%;
    text-align: center;
}

#wrapper-person-page #container #person-infos {
    width: fit-content;
    margin: auto;
}

#wrapper-person-page #container #person-infos #infos {
    border-collapse: collapse;
}

#wrapper-person-page #container #person-infos tr {
    border-bottom: 1px solid black;
}

#wrapper-person-page #container #person-infos .info-title {
    box-shadow: 0 1px 5px 1px black;
    background-color: #00a8ff;
    font-weight: bold;
}

#wrapper-person-page #container #person-infos tr td:first-child {
    color: white;
    text-shadow: 1px 1px 5px black;
    padding-right: 5px;
}

#wrapper-person-page #container #buttons {
    margin-top: 10px;
    width: 100%;
    height: 40px;
}

#wrapper-person-page #container #buttons input {
    width: 50%;
    height: 100%;
    border: none;
    font-weight: bold;
    font-size: 1em;
}

#edit {
    background-color: #027bbd;
    color: #0e384e;
}

#edit:hover {
    background-color: rgb(0, 134, 206);
}

#close {
    background-color: #c23616;
    color: #5e1b0c;
}

#close:hover {
    background-color: #e84118;
}

#save {
    background-color: #44bd32;
    color: #1e5316;
}

#save:hover {
    background-color: #4cd137;
}

#cancel {
    background-color: #c23616;
    color: #5e1b0c;
}

#cancel:hover {
    background-color: #e84118;
}

select:disabled {
    opacity: 1;
    color: inherit;
    border-color: 1px solid #fff;
}