#edit-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

#edit-wrapper #edit-main-page {
    background-color: #00a8ff;
    margin: 3% auto 0;
    width: 40%;
    height: 40%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    text-shadow: 1px 1px 5px black;
    padding: 10px; /*If changing it change (line 23 )*/
}

#edit-wrapper #edit-main-page > div {
    background-color: #0097e6;
    border-radius: 20px;
    height: Calc(100% - 20px); 
    border: 2px solid black;
    overflow: hidden;
}

#edit-wrapper #edit-main-page input, 
#edit-wrapper #edit-main-page select, 
#edit-wrapper #edit-main-page option, 
#edit-wrapper #edit-main-page td {
    font-weight: bold;
}

#edit-wrapper #edit-main-page #edit-title-div {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border: 1px solid black;
    box-sizing: border-box;
    height: 15%;
}

#edit-wrapper #edit-main-page #edit-title-div #edit-title {
    border: 0;
    font-size: 2em;
    text-align: center;
    width: 100%;
    outline: none;
}

#edit-wrapper #edit-main-page form {
    height: 100%;
}

#edit-wrapper #edit-main-page table {
    text-align: center;
    height: 70%;
    width: 90%;
}

#edit-wrapper #edit-main-page table tr td {
    width: 50%;
}

#edit-wrapper table tr td:first-child {
    color: white;
    text-align: right;
}
#edit-wrapper table tr td:last-child {
    text-align: left;
}
#edit-wrapper input.edit-button {
    height: 15%;
    width: 50%;
    font-size: 1em;
}

#edit-wrapper .submit {
    background-color: #44bd32;
    border: 0;
    border-top: 3px solid #3eac2d;
    color: #184412;
}

#edit-wrapper .submit:hover {
    background-color: #4cd137;
}

#edit-wrapper .cancel {
    background-color: #c23616;
    border: 0;
    border-top: 3px solid #af3114;
    color: #421308;
}

#edit-wrapper .cancel:hover {
    background-color: #e84118;
}